<app-generic-list [list]="movies">
  <!-- <ng-container loading>
    this is loading...
  </ng-container>
  <ng-container empty>
    There is no <b>content</b> to display
  </ng-container> -->
  <ng-container content>
    <div *ngFor="let movie of movies; let index = index">
      <div>{{movie.title | uppercase}}
        <button (click)="onClickRemove(index)">Remove</button>
      </div>
      <div>{{movie.release | date: "dd MMMM yyyy"}}</div>
      <div>{{movie.price | currency: "NOK"}}</div>
    </div>
  </ng-container>
</app-generic-list>
