<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput/>
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="inTheaters">In Theaters</mat-checkbox>
    </div>
    <mat-form-field>
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Release date</mat-label>
        <input formControlName="releaseDate" matInput [matDatepicker]="picker"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
        
    </mat-form-field>

    <div>
        <h4>Poster</h4>
        <app-input-img [urlCurrentImage]="model?.poster" (onImageSelected)="onImageSelected($event)"></app-input-img>
        <h4>Summery</h4>
        <app-input-markdown [markDownContent]="model?.summary" (changeMarkdown)="changeMarkdown($event)"></app-input-markdown>
    </div>

    <app-multiple-selector [NonSelectedItems]="nonSelectedGenres" [SelectedItems]="selectedGenres"></app-multiple-selector>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="saveChanges()">
            Savae changes
        </button>
        <a mat-stroked-button routerLink="/">Cancel</a>
    </div>
</form>